/* You can add global styles to this file, and also import other style files */

.status-queued::after
{
    color: #777;
    content: '+';
}

.status-processing::after
{
    color: #3f3;
    content: '\27F3';
}

.status-completed::after
{
    color: #03f;
    content: '\2713';
}

.status-failed::after
{
    color: #f30;
    content: 'X';
}
